.box{
  width: 1024px;
  margin: 0 auto;
}

#scrollBtn {
  display: none;
  width: 56px;
  height: 56px;
  position: fixed;
  left: 90%;
  bottom: 15%;
  background: url(../images/scrollBtn.png) no-repeat left top;
}

#scrollBtn:hover{
  background: url(../images/scrollBtn.png) no-repeat -64px top;
}
